GL_daymet_1980-2023/
discharge_1980-2023/Canada
discharge_1980-2023/GL_USA_USGS_streamflow.csv
Canadian_basins_discharge_cleaned/
Canadian_climate_discharge_data/
US_climate_discharge_data/
data
runs/*
shapefile/*
climate_discharge_data
__pycache__/*
metadata/*
!metadata/*.ipynb
poster_work/csv_files
poster_work/ne_lakes
poster_work/runs
poster_work/shapefiles
poster_work/util
poster_work/*.csv
poster_work/ne_10m_lakes.zip
poster_work
Performance_map.qgz
notebooks/shapefiles
notebooks/csv_files/GL_NWM3.csv
venv
notebooks/csv_files/basin_discharge_matrix.csv
*.pyc
util/__pycache__